.reset {
    margin-top: 32px;
}

.container {
    height: 500px;
    width: 500px;
    background-color: green;

    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.cell {
    background-color: red;
    border: 1px solid black;
    box-sizing: border-box;
    user-select: none;
}